.idea
.DS_Store
node_modules/
npm-debug.log
test/reports/*
allure-report
logs/*
*.log
.DS_Store
coverage
errorShots/
screenshots/actual/
screenshots/diff/
reports/
allure-results/
videos/
.env
test/pdfs/data/actual
test/pdfs/data/diffPngs
test/pdfs/data/actualPngs
test/pdfs/data/baselinePngs
